<p id="notice"><%= notice %></p>
<h2>
  <%= @brewery.name %>
</h2>
<div>
  <i>Established in <%= @brewery.year %></i>
</div>
<div>
  Number of beers <%= @brewery.beers.count %>
</div>

<ul>
  <% @brewery.beers.each do |beer| %>
     <li> <%= link_to beer.name, beer_path %> </li>
  <% end %>
</ul>

<div>
  <% if @brewery.ratings.empty? %>
      beer has not yet been rated!
  <% else %>
      Has <%= pluralize(@brewery.ratings.length, 'rating', 'ratings')%>, average <%= @brewery.average_rating %>
  <% end %>
</div>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
