<h1><%= @place.name %></h1>
<div>
  <%= @place.street %>
</div>
<div>
  <%= @place.zip %> <%= @place.city %>
</div>
<div id="map">
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src=  <%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyDdiUnwzIBlZ8XKcVfK0i8jqZKaZ3INdd0&q=#{ERB::Util.url_encode(@place.street)},#{ERB::Util.url_encode(@place.city)},#{ERB::Util.url_encode(@place.country)}" %> allowfullscreen>
  </iframe>
</div>